nav{
    text-align: center;
    margin: 2rem;
    padding: .25rem 0;
    background-color: rgb(218, 221, 221);
}

nav ul{
    list-style: none;
}

.container > * {
    width: 30%;
    height: auto;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    padding: 1rem;
    color: black;
    background-color: rgb(218, 221, 221);
}

.container > *:hover{
    box-shadow: 1px 5px 5px 1px grey;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

div img{
    height: 25rem;
}

div span{
    background-color: white;
    height: 2rem;
    margin-top: .5rem;
}